<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">ABOUT US</h1>
            <p class="text-center sub-heading">Get to know us</p>
            <div class="row">

                <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                    <figure>
                        <img src="https://tse4.mm.bing.net/th?id=OIP.XcH6ep42bj1Jm3fqtcCfXwHaFM&pid=Api&P=0"
                            alt="XXXXXXXXXXXXX">
                    </figure>
                </div>

                <div
                    class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                    <h1>DANCE THE NIGHT AWAY</h1>
                    <h1> ratione eius cumque?</h1>
                    <p> The Dance Knight Academy was established in 1984, The Dance Academy has grown and thrived under the thoughtful direction of
                        Colleen Kilmer. Truly unique, The Dance Academy offers something special for children and young
                        adults of all ages and interests. Over the years, thousands of students have enrolled in our
                        weekly ballet, tap, jazz, and pointe classes which culminate in a summer dance concert
                        highlighting the year's achievements.</p>
                    ​<p>
                        Although several of our students have gone on to attain significant achievement in the field of
                        dance, our primary goal is to stimulate personal growth and development and especially to have
                        FUN!! We offer a safe learning environment, where encouragement is given along with constructive
                        criticism.</p>
                    <p>As all of our programs are goal-oriented, personal progress will require sincere commitment-
                        devotion of time, energy and a desire to excel. While instruction is given in a group setting,
                        individual attention and encouragement are hallmarks of our philosophy of teaching.
                        ​</p>
                    <button class="btn-style btn-primary">READ MORE</button>
                </div>
            </div>
        </div>
    </div>
</div>