<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">SERVICES </h1>
            <p class="text-center sub-heading">A short glimpse of Dance Forms taught here </p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://tse3.mm.bing.net/th?id=OIP.54pZ7_VHetN95Ig2z9kWQQHaHd&pid=Api&P=0"
                                    alt="">
                            </div>
                            <br>
                            <br>
                            <br>
                            <h4>Salsa</h4>
                            <p>
                                Salsa is a social dance that originated in the Caribbean and its movements are similar
                                to cha cha cha, mambo, and other dance forms. Salsa originated in Eastern Cuba( Santiago
                                de Cuba, Guantanamo) from the Cuban Son and Afro-Cuban dance. Colombian style salsa,
                                Cuban style salsa, Miami style salsa, casino Rueda style salsa, L.A style salsa, New
                                York-style salsa, Puerto Rican style salsa are different salsa dance style. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://tse4.mm.bing.net/th?id=OIP.RxUSZ368UfSgYngSocsKMgHaHa&pid=Api&P=0"
                                    alt="">
                            </div>
                            <br>
                            <br>
                            <br>
                            <h4>Kathak</h4>
                            <p>
                                This is one of the major forms of Indian classical dance. The literal meaning of Kathak
                                means a storyteller. So now you can understand that one who does kathak, tells a story
                                by dancing using his/her fingers, gestures, posters, and expressions but what type of
                                story do they tell? These storytellers communicated stories from the great epics and
                                ancient mythology. They tell the childhood stories of Hindu god Krishna in the courts of
                                North Indian kingdoms. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://tse4.mm.bing.net/th?id=OIP.8cF_7i-0a9qE_DdKG0AuJQHaHa&pid=Api&P=0"
                                    alt="">
                            </div>
                            <br>
                            <br>
                            <br>
                            <h4>Bharatnatyam</h4>
                            <p>
                                It is an Indian classical dance that is used to express South Indian religious themes of
                                Vaishnavism, Shaktism, and Shaivism. The traces of Bharatnatyam have been found in
                                Bharatmuni’s Natya Shastra. Its existence is noted in ancient Tamil epic Silappadikaram
                                by 2nd century CE. This dance style is very famous across the globe and people from
                                different parts of the world are willing to learn this style. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://tse3.mm.bing.net/th?id=OIP.Lb3x147XhmLxRBBSPECs_wHaH3&pid=Api&P=0"
                                    alt="">
                            </div>
                            <br>
                            <br>
                            <br>
                            <h4>Tinikling</h4>
                            <p>
                                Tinikling dance is a very famous and traditional Phillippine folk dance. It was
                                originated during the Spanish colonial era. This dance is performed with a bamboo. Two
                                people beat, tap, and slide bamboo poles on the ground against each other in
                                coordination with one or more dancers who step over and in the poles while dancing.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://tse2.mm.bing.net/th?id=OIP.L0r1oYHZcSQSQTXYnXtF1wHaHa&pid=Api&P=0"
                                    alt="">
                            </div>
                            <br>
                            <br>
                            <br>
                            <h4>Lion dance</h4>
                            <p>
                                It is a form of traditional dance in Chinese culture and other Asian countries in which
                                performers wear a lion costume to bring good luck and fortune and mimic a lion's
                                movements. This dance is usually performed during Chinese New Year or any other Chinese
                                traditional and religious festivals. is a form of traditional dance in Chinese culture and other Asian countries</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="https://tse1.mm.bing.net/th?id=OIP.ftTcRCSDH_dlF2U6neFrewHaHa&pid=Api&P=0"
                                    alt="">
                            </div>
                            <br>
                            <br>
                            <br>
                            <h4>Tango</h4>
                            <p>
                                It is a partner dance. It originated in the 1880s in some parts of Argentina and
                                Uruguay. It is a combination of the waltz, polka, mazurka, etc. Starting from Argentina
                                it spread to the rest of the world. Many variations of this dance currently exist around
                                the world. Tango dance is one of the most famous dance styles all around the world. It
                                is practiced across the globe.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>